@import "~antd/dist/antd.css";
@import "base/custom_reset";
@import "layout/modules";

html,
body,
#app {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ant-layout {
  background-color: #fff;
}

.ant-layout-header .ant-typography {
  color: #fff;
}

.top-margin {
  margin-top: 20pt;
}

.pagination {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.movie-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.movie-data {
  margin-top: 20pt;
}

.ant-card-meta-description {
  height: 190px;
  overflow: hidden;
}

.ant-card-body {
  height: 296px;
  overflow: hidden;
}

.movie-image {
  height: auto;
}

.ant-tag {
  text-transform: uppercase;
}

.detailed-movie__card {
  .ant-card-body {
    height: auto;
  }
  .ant-card-meta-description {
    height: 60px;
  }
}
.detailed-movie__card-img {
  padding-top: 120%;
  background-color: #ccc;
  background-size: cover;
}

.detailed-movie__add-to-list-popover .ant-popover-inner-content {
  max-height: 240px;
  overflow: auto;
}

.movie-item__img {
  padding-top: 150%;
  background-color: #ccc;
  background-size: cover;
}
